.response {
	background: #fefefe;
    padding: 10px;
    border-radius: 2px;
	text-transform: uppercase;
	font-weight: bold;
}
.text-success{
	color: #0b9c9f;
}
.text-warning{
	color: #ff6f0f;
}
.text-danger{
	color: #e62121;
}

.text-white{
	color: white;
}

.bg-success{
	background-color: #0b9c9f;
}

.bg-danger{
	background-color: #e62121;
}

.bg-warning{
	background-color: #ff6f0f;
}

.p20{
	padding: 20px;
}
.caption2{
	font-size: 12px;
	margin-top : 5px;
	color: grey
}
.fullheight{
	height: 100%
}
.imgbox img{
	object-fit: cover; max-height:100%; width:100%;
}
.imgbox2 img{
	object-fit: cover; max-height:100%; width:100%;
}
.imgbox{
	text-align: center;max-height: 65%;height: 65%;
}
.imgbox2{
	text-align: center;max-height: 50%;height: 50%;
}
.captionbox{
	max-height: 35%;height: 35%;background-color: #7f7f7f;
}
.captionbox2 .small-text .litle-title{
	max-height: 50%;height: 50%;
	color: #00d4d4;
}
.blogcontent{
	height: 250px;
	max-height: 250px;
	overflow : hidden;
	margin-bottom: 20px;
}
.captionColorBlue{
	color: #92b2d2 !important;
}
.small-text{
	font-size: 10px;
	color: white;
	margin-top: 10px;
}
.litle-title{
	font-weight: 600;
	color: white;
}
.shadow{
    box-shadow: 0 2px 6px 0 hsla(0, 0% , 0%, 0.2);
}
.bgWhite{
	background-color: #fff;
}
.mb20{
	margin-bottom: 20px;
}
.noPaddingSide{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.test3{
	border: solid thin green;
	min-height: 100px;
}
.test4{
	border: solid thin blue;
	min-height: 100px;
}
.test{
	border: solid thin black;
	min-height: 100px;
}
.test2{
	border: solid thin red !important;
	min-height: 100px;
}
.admin{
	background-color: #0e6473;
}
.justify{
	text-align: justify;
}
.p50{
	padding: 50px
}
.f16{
	font-size: 16px;
}
.f16b{
	font-weight: 700; 
	font-size: 16px
}
.layananBox img{
	height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.layananBox {
	height: 400px;
}
.supportBox{
	margin-top: 20px;
	min-height: 200px;
}
.supportBox img{
	height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
    margin: auto;
}
.layananBoxText {
	height: 50%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	font-size: 30px;
	color: #fff;
}
.layananBoxText2 {
	height: 30%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: left;
	font-size: 30px;
	color: #fff;
}
.tablePricing{
	border: grey 1px solid;
	padding: 40px;
}
.mTB150{
	margin-top: 150px;
	margin-bottom: 150px;
}
.formBlock{
	padding: 20px 30px;
}
.formBlock img{
	width: 50%;
	height: auto;
	margin: 20px 10px 10px 10px;
}
.formBlock .form-control{
	height: 30px;
	border-radius: 2px;
}
.formBlock .form-group{
	margin-bottom: 10px;
}
.frm{
    width: 400px;
    height: 550px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    box-shadow: 0 2px 56px 0 hsla(0, 0% , 0%, 0.5);
}
.bannerBox{
    width: 100%;
    height: 400px;
    background-color: rgba(4, 154, 156, 0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
.btn-orange{
	background-color: #ff6f0f; color: #fff; border-radius: 0px; 
}
.btn-peach{
	background-color: #17908e; color: #fff; border-radius: 0px;
}
.imagePlayStore{
	max-width: 290px; 
	padding: 10px;
	background-color: #fff; 
	border-radius: 8px;
	color: #000; 
	display: inline-block;
	margin-bottom: 30px;
}
.navbar-toggle .icon-bar{
	background-color: #ff6600;
}
.tar{
	text-align: right;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
.MT500{
	margin-top:-500px
}
/* footer social icons */
.social-network a.icoRss {
	background-color: #F56505;
}
.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoGoogle {
	background-color:#BD3518;
}
.social-network a.icoVimeo {
	background-color:#0590B8;
}
.social-network a.icoLinkedin {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:30px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
/*iconsocmed*/
.footerLink a{
	color: #f6f6f6;
	border: none;
	text-decoration: none;
}
.pt30{
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
}
.footer{
	background-color: #1a1a1a;
	min-height: 200px;
}
.cardHomeIn2 .thumbnail .caption h6{
	font-weight: 600;
}
.cardHomeIn2 .thumbnail .caption p{
	line-height: 1.1;
	padding-top: 10px;
	font-size: 10px;
	font-weight: 600;
}
.cardHomeIn2 .thumbnail{
	border: none;
	padding-top: 20px;
	overflow-y: hidden;
}
.mTB30{
	margin-top : 30px;
	margin-bottom: 30px;
}
.cardHome{
	height: 300px; 
	padding : 0px; 
	display: flex;
}
.cardHomeIn{
	width: 20%; 
	height: 250px;
	overflow-y: hidden;  
	padding: 10px;
	margin-bottom: 20px;
}
.cardHomeIn2{
	height: 100%;
	width: 100%;
	background-color: #fff;
}
.centered{
	text-align: center;
}
.boxHomeChild2 {
	margin-top : 50px;
}
.boxHomeChild2 img{
	height: 600px;
}
.blueBgHome{
	min-height: 300px;
	background-color: #039b9e;
}
.mt30{
	margin-top: 30px;
}
.boxHome{
	height: 700px; background-color: #fff;
    box-shadow: 0 2px 56px 0 hsla(0, 0% , 0%, 0.5);
}
.boxHomeChild{
	margin-top: 200px;
	text-align: center;
}
.boxHomeChild img{
	width: 100%
}
.bannerHome{
	max-width: 100%;
	width: 100%;
	min-height: 1000px;
	background-image: url('../../assets/image/banner.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #fff;
	position: relative;
}
.bannerHome3{
	max-width: 100%;
	width: 100%;
	min-height: 700px;
	background-image: url('../../assets/image/banner.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #fff;
	position: relative;
}
.bannerHome4{
	max-width: 100%;
	width: 100%;
	min-height: 500px;
	/*background-image: url('../../assets/image/banner.png');*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #fff;
	position: relative;
}
.bannerHome img{
	max-width: 100%;
	max-height: 100%;
}
.navbar-default {
	background-color: transparent;
}
.navbar .navbar-collapse .profile-picture-navbar{
	height: 35px;
	margin-top: -8px;
	margin-bottom: -8px;
	padding-right: 15px;
	max-width: 50px;
}
.navbarBrandHome img{
	height: 30px;
	margin-top : 30px;
}
.navbarBrandHome2 img{
	height: 50px;
	margin-top : 50px;
}
.nav > li > a{
	color: #232323;
	font-weight: 450;
	padding-bottom: 6px;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    color: #0cf3f3;
    background-color: transparent;
    border-bottom: 5px solid #0cf3f3;
}
.mrSm15{
	margin-right: 15px;
}
.pull-right-sm{
	float: right !important;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: #0cf3f3;
}
.dropdown-menu-navbar{
	margin-bottom: 0px;
	padding: 0px;
	border-radius: 0px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.dropdown-menu-navbar a{
	background-color: #000;
	border: #000;
	color: #fff;
	cursor: pointer;
}
.navbar-nav>li>.dropdown-menu { 
	min-width: 220px;
}
.admin{
	background-color: #0e6473;
}
.admin a{
	color: #fff
}
@media (max-width:330){

}
@media (max-width: 575px) {
	.boxHomeChild{
		margin-top: 50px;
	}
	.boxHomeChild2 img{
		height: 200px;
	}	
	.navbarBrandHome img{
		height: 20px;
		margin-top: 0px;
	}
	.navbarBrandHome2 img{
		height: 20px;
		margin-top: 0px;
	}
	.MT500{
		margin-top:-900px
	}
	.mrSm15{
		margin-right: 0px;
	}
	.pull-right-sm{
		float: none !important;
	}
	.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
		margin-right: 0px;
		margin-left: 0px;
	}
	.navbar-xs{
		margin-left: 0px;
		margin-right: 0px;
		padding-right: 0px;
	}
	.xsMT10{
		margin-top: 10px;
	}
}

@media (max-width: 767px) {
	.boxHomeChild{
		margin-top: 50px;
	}
	.boxHomeChild2 img{
		margin-top: 0px;
		height: 200px;
	}	
	.pull-right-sm{
		float: none !important;
	}
	.mrSm15{
		margin-right: 0px;
	}
	.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
		margin-right: 0px;
		margin-left: 0px;
		background-color: #17908e;
	}
	.navbarBrandHome img{
		height: 20px;
		margin-top: 0px;
	}
	.navbarBrandHome2 img{
		height: 20px;
		margin-top: 0px;
	}
	.navbar-xs{
		margin-left: 0px;
		margin-right: 0px;
		padding-right: 0px;
	}
}

@media (max-width: 991px) {
	.boxHomeChild2 img{
		margin-top : 120px;
		height: 400px;
	}	
	.mrSm15{
		margin-right: 0px;
	}
	.navbarBrandHome img{
		height: 20px;
		margin-top: 0px;
	}
	.navbarBrandHome2 img{
		height: 20px;
		margin-top: 0px;
	}
	.nav > li > a{
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 1199px) {
	
}



@media (max-width: 2000px) {
	.cardHomeIn{
		width: 20%; 
		padding: 10px;
		flex: 0 0 auto;
	}
	.cardHomeIn2{
		height: 100%;
		width: 100%;
		background-color: #fff;
	}
	.cardHome{
		 display: flex;
		 flex-wrap: nowrap;
		 overflow-x: auto;
		 overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
}

@media (max-width: 992px) {
	.cardHomeIn{
		width: 30%; 
		padding: 10px;
		flex: 0 0 auto;
	}
	.cardHomeIn2{
		height: 100%;
		width: 100%;
		background-color: #fff;
	}
	.cardHome{
		 display: flex;
		 flex-wrap: nowrap;
		 overflow-x: auto;
		 overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
}

@media (max-width: 768px) {
	.bannerBox{
	    width: 100%;
	    height: 400px;
	    background-color: rgba(4, 154, 156, 0.9);
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    max-width: 100%;
	    max-height: 100%;
	    display: inline-block;
	}
	.supportBox{
		min-height: 200px;
	}
	.supportBox img{
		height: 60%;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0px;
	    margin: auto;
	}
	.layananBox img{
		height: 60%;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	}
	.layananBox {
		height: 200px;
	}
	.layananBoxText {
		height: 90%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		text-align: center;
		font-size: 16px;
		color: #fff;
	}
	.layananBoxText2 {
		height: 90%;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		text-align: center;
		font-size: 26px;
		color: #fff;
		margin-top: 150px;
	}
	.tablePricing{
		border: grey 1px solid;
		padding: 0px;
	}
	.boxHomeChild2 img{
		margin-top : 20px;
		height: 200px;
	}	
	.cardHomeIn{
		width: 70%;  
		padding: 10px;
		flex: 0 0 auto;
	}
	.cardHomeIn2{
		height: 100%;
		width: 100%;
		background-color: #fff;
	}
	.cardHome{
		 display: flex;
		 flex-wrap: nowrap;
		 overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.xs-left{
		float: left !important;
	}
	.xs-center{
		float: inherit;
	}
	.xs-tal{
		text-align: left;
	}
	.xs-center{
		text-align: center;
		float: none;
	}
	.xsNoPadding{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.mTB150{
		margin-top: 100px;
		margin-bottom: 100px;
	}
}

@media (max-width: 576px) {
	
}
@media(min-width: 767px){
	.navbar-nav > .active > a{
    	border-bottom: 5px solid #0cf3f3;
	}
}